 @use '../../../styles';

 .sidemenu-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgba(0, 0, 0, 0.0);

    .central-area {
        display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;
    }

}

.sidemenu-items-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: styles.$primary-color;
    mat-icon {
        margin-right: .5rem;
    }
}
mat-expansion-panel-header{
    padding-left: 17px;
    mat-panel-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: styles.$primary-color;
        mat-icon {
            margin-right: .5rem;
        }
    }
}