/* You can add global styles to this file, and also import other style files */

$primary-color: #343a40;
$secondary-color: #ecf3f7;

.sidemenu-container {
    .sidemenu-drawer {
        .mat-drawer-inner-container {
            overflow-y: scroll !important;
        }
    }
}

html, body { 
    height: 100vh;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $secondary-color;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

app-sidemenu {
    height: 100%;
}
